<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/activemq-examples/src/openwire/swissarmy/ProducerTool.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="openwire.swissarmy.ProducerTool"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--url=tcp://${activemq.host}:${activemq.port} --user=&quot;&quot; --password=&quot;&quot; --subject=TOOL.DEFAULT --topic=true --messageCount=100 --sleepTime=0 --verbose=true --messageSize=255 --parallelThreads=10 --timeToLive=100 --transacted=true --persistent=true --batch=10"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="activemq-examples"/>
</launchConfiguration>
